@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #252525;
  --foreground: #ffff;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  letter-spacing: 1px;
}

.banner-image {
  background-image: url("/google-workspace-banner.png");
}
